<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucky Box</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>

<body>

    <div class="box">
        <h1 id="headline">Lucky Box</h1>
        <img src="../static/images/closed-box.png" alt="Closed Box" id="img-box">
        <button id="open-box">Открыть</button>
        <button id="show-stats">Показать статистику</button>
    </div>

    <div class="container">
        <div class="bubbles"></div>
    </div>

    <div id="stats" class="stats hidden">
        <h2>Статистика</h2>
        <p>Выигрыши: <span id="wins">0</span></p>
        <p>Открытые коробки: <span id="total-boxes">0</span></p>
    </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        const tg = window.Telegram.WebApp
        const defaultUrl = "https://a4d3-147-45-193-130.ngrok-free.app"  // ТУННЕЛЬ

        tg.headerColor = "#fff"
        tg.expand()

        document.addEventListener(
            "DOMContentLoaded", () => {
                const bubblesElem = document.querySelector(".bubbles")

                for (let i = 0; i < 64; i++) {
                    const bubbleElem = document.createElement("span")
                    const randomId = Math.floor(Math.random() * 64) + 1

                    bubbleElem.style.setProperty("--i", randomId)
                    bubblesElem.appendChild(bubbleElem)
                }
            }
        )

        async function fetchData(endpoint, data) {
            try {
                console.log(`${defaultUrl}/${endpoint}`)
                const response = await fetch(`${defaultUrl}/${endpoint}`, {
                    method: "POST",
                    headers: { Authentication: tg.initData },
                    body: JSON.stringify(data)
                })
                const responseData = await response.json()
                return responseData
            } catch (error) {
                console.log(`Error: ${error}`)
                throw error
            }
        }

        document.querySelector("#open-box").addEventListener(
            "click", async () => {
                const img = document.querySelector("#img-box")
                const btn = document.querySelector("#open-box")
                const text = document.querySelector("#headline")

                img.style.transform = "scale(0.5)"
                setTimeout(() => {
                    img.style.transform = "scale(1)"
                }, 500)

                await fetchData("open-box", { id: tg.initDataUnsafe.user.id })
                    .then(data => {
                        const cash = data.cash

                        if (cash >= 0 && cash < 100) {
                            img.src = "../static/images/empty-box.png"
                        } else if (cash >= 100 && cash < 500) {
                            img.src = "../static/images/20box.png"
                        } else if (cash >= 500 && cash < 700) {
                            img.src = "../static/images/50box.png"
                        } else {
                            img.src = "../static/images/fullbox.png"
                        }

                        text.innerHTML = cash === -1 ? data.error : `Ты выйграл: <span id='cash'>${cash}</span> $`
                        btn.disabled = false
                    })
                    .catch(error => {
                        // Можете обработать ошибку тута...
                        console.log(`Error: ${error}`)
                    })
            }
        )

        document.querySelector("#show-stats").addEventListener(
            "click", async () => {
                const stats = document.querySelector("#stats")
                const winsElem = document.querySelector("#wins")
                const totalBoxesElem = document.querySelector("#total-boxes")

                const data = await fetchData("get-stats", { id: tg.initDataUnsafe.user.id })
                winsElem.textContent = data.wins
                totalBoxesElem.textContent = data.totalBoxes

                stats.classList.toggle("hidden")
            }
        )
    </script>

</body>

</html>
